{% extends 'base.html.twig' %}

{% block title %}Succès de l'ajout d'un article - {{ parent() }}{% endblock %}

{% block body %}
    <div class="alert alert-success">L'article a bien été ajouté.</div>
{% endblock %}

